.App
{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: rgba(54, 47, 47, 0.856);
}
.container
{
  display: flex;
  align-items: center;
  flex-direction: column;
  height : 80vh;
  color: white;
  border: 1px solid rgb(132, 201, 241);
  border-radius: 2px;
  min-width: 450px;
}
.myForm{
  
  display:flex;
  width:400px;
  justify-content: center;
  align-items: center;
}
input{
  flex:1;
  border:none;
  border-radius: 10px;
  padding: 7px 0px;
}
.allTodos{
  list-style:none;
  padding: 0;
  margin:0;
  }
  .mytodo
  {
   border-radius: 10px;
   margin:10px 0;
   background-color: turquoise;
   padding: 8px 20px;
   display: flex;
   width: 400px;
   align-items: center;
  }
button{
  border:none;
  padding:7px;
  margin:0px 5px;
  border-radius: 10px;

}
span{
  flex:1;
}